.Home {
  margin: 60px 0;

  .earringItem {
    margin-bottom: 20px;
    .earringInfo {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      line-height: 25px;
      img {
        max-width: 130px;
        max-height: 200px;
      }
      .text {
        width: 54%;

        .name {
          font-weight: 700;
          font-size: 16px;
        }
      }
    }
    .btnBox {
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: center;

      a,
      button {
        position: unset;
        &:hover {
          color: white;
          background-color: #f19c9c;
        }
      }
    }
  }
}
