.App {
  display: block;
  .header {
    color: #00000096;
    background-image: radial-gradient(
      circle farthest-corner at 10% 20%,
      #fdecec 0%,
      rgb(238, 193, 193) 85.6%
    );
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    div {
      font-family: monospace;
      font-size: 20px;
      height: 55px;
      line-height: 55px;
      text-align: center;
    }
  }

  .bottomBtnBox {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ffeded;
  }
  .MuiBottomNavigationAction-root.Mui-selected {
    color: #fb8080;
  }
}

@media only screen and (min-width: 600px) {
  body {
    background: url("./mobileOnly.png");
    background-repeat: no-repeat !important;
    background-attachment: inherit !important;
    height: 700px;
    .App {
      display: none;
    }
  }
}
